@charset "UTF-8";

/*
* jPlayer 2 Skin
* Lucky Saint
* styled by Johnny Fortune
*/

.header { 
background: url("images/bgGloss.png") repeat-x; 
}

div.jp-audio,
div.jp-video {
	font-size:1.25em;
	font-family:Verdana, Arial, sans-serif;
	line-height:1.6;
	color: #333;
}
div.jp-audio {
	width:422px;
}
div.jp-video-270p {
	width:480px;
}
div.jp-video-360p {
	width:640px;
}

div.jp-interface {
	position: relative;
	width:422px;
	background: url("lucky3-back.png") no-repeat;
	
	}
	
div.jp-audio div.jp-type-single div.jp-interface {
	height:150px;
	border-bottom:none;
}
div.jp-audio div.jp-type-playlist div.jp-interface {
	height:115px;
	margin-bottom:-1px;
}
div.jp-video div.jp-type-single div.jp-interface {
	height:60px;
	border-bottom:none;
}
div.jp-video div.jp-type-playlist div.jp-interface {
	height:60px;
}
div.jp-interface ul.jp-controls {
	list-style-type:none;
	padding:0;
	margin: 0;
}
div.jp-interface ul.jp-controls li {
	/* position: absolute; */
	display:inline;
}
div.jp-interface ul.jp-controls a {
	position: absolute;
	overflow:hidden;
	text-indent:-9999px;
}
a.jp-play,
a.jp-pause {
	width:56px;
	height:57px;
	z-index:1;
}
div.jp-audio div.jp-type-playlist a.jp-play,
div.jp-audio div.jp-type-playlist a.jp-pause {
	top:48px;
	left:65px;
}
div.jp-video a.jp-play,
div.jp-video a.jp-pause {
	top:15px;
}
div.jp-video-270p div.jp-type-single a.jp-play,
div.jp-video-270p div.jp-type-single a.jp-pause {
	left:195px;
}
div.jp-video-270p div.jp-type-playlist a.jp-play,
div.jp-video-270p div.jp-type-playlist a.jp-pause {
	left:220px;
}
div.jp-video-360p div.jp-type-single a.jp-play,
div.jp-video-360p div.jp-type-single a.jp-pause {
	left:275px;
}
div.jp-video-360p div.jp-type-playlist a.jp-play,
div.jp-video-360p div.jp-type-playlist a.jp-pause {
	left:300px;
}
a.jp-play {
	background: url("lucky3.png") 0px 0px no-repeat;
}
a.jp-play:hover {
	background: url("lucky3.png") -65px 0px no-repeat;
}
a.jp-pause {
	background: url("lucky3.png") 0px -57px no-repeat;
	display: none;
}
a.jp-pause:hover {
	background: url("lucky3.png") -65px -57px no-repeat;
}

div.jp-video a.jp-stop {
	top:21px;
}
div.jp-video-270p div.jp-type-single a.jp-stop {
	left:245px;
}
div.jp-video-270p div.jp-type-playlist a.jp-stop {
	left:298px;
}
div.jp-video-360p div.jp-type-single a.jp-stop {
	left:325px;
}
div.jp-video-360p div.jp-type-playlist a.jp-stop {
	left:378px;
}

div.jp-audio div.jp-type-playlist a.jp-previous {
	left:17px;
	top:56px;
}

div.jp-video div.jp-type-playlist a.jp-previous {
	top:11px;
}
div.jp-video-270p div.jp-type-playlist a.jp-previous {
	left:192px;
}
div.jp-video-360p div.jp-type-playlist a.jp-previous {
	left:272px;
}
a.jp-previous {
	background: url("lucky3.png") -122px -0px no-repeat;
	width:45px;
	height:45px;
}
a.jp-previous:hover {
	background: url("lucky3.png") -172px -0px no-repeat;
}
div.jp-audio div.jp-type-playlist a.jp-next {
	left:125px;
	top:56px;
}
div.jp-video div.jp-type-playlist a.jp-next {
	top:21px;
}
div.jp-video-270p div.jp-type-playlist a.jp-next {
	left:260px;
}
div.jp-video-360p div.jp-type-playlist a.jp-next {
	left:340px;
}
a.jp-next {
	background: url("lucky3.png") -122px -45px no-repeat;
	width:45px;
	height:45px;
}
a.jp-next:hover {
	background: url("lucky3.png") -172px -45px no-repeat;
}
div.jp-progress {
	position: absolute;
	overflow:hidden;
	z-index:20;
}

div.jp-audio div.jp-type-playlist div.jp-progress {
	top:7px;
	left:6px;
	width:410px;
	height:28px;
}

div.jp-video div.jp-progress {
	top:0px;
	left:0px;
	width:100%;
	height:10px;
}
div.jp-seek-bar {
	background: url("lucky3.png") 0px -175px repeat-x;
	width:0px;
	border:none !important;
	/* height:15px; */
	height:100%;
	cursor: pointer;
}
div.jp-play-bar {
	background: url("lucky3.png") 0px -145px repeat-x ;
	width:0px;
	/* height:15px; */
	height:100%;
	border-right:1px inset #FFFFFF;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
	background: url("pbar-ani.gif");
}

a.jp-mute,
a.jp-unmute {
	width:35px;
	height:33px;
}

div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
	top:46px;
	left:195px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute {
	top:27px;
}
div.jp-video-270p div.jp-type-single a.jp-mute,
div.jp-video-270p div.jp-type-single a.jp-unmute {
	left:304px;
}
div.jp-video-270p div.jp-type-playlist a.jp-unmute,
div.jp-video-270p div.jp-type-playlist a.jp-mute {
	left:363px;
}
div.jp-video-360p div.jp-type-single a.jp-mute,
div.jp-video-360p div.jp-type-single a.jp-unmute {
	left:384px;
}
div.jp-video-360p div.jp-type-playlist a.jp-mute,
div.jp-video-360p div.jp-type-playlist a.jp-unmute {
	left:443px;
}
a.jp-mute {
	background: url("lucky3.png") -260px 0px no-repeat;
}
a.jp-mute:hover {
	background: url("lucky3.png") -225px 0px no-repeat;
	
}
a.jp-unmute {
	background: url("lucky3.png") -225px 0px no-repeat;
}
a.jp-unmute:hover {
	background: url("lucky3.png") -260px 0px no-repeat;
}
div.jp-volume-bar {
	position: absolute;
	overflow:hidden;
	background: url("lucky3.png") -1px -130px repeat-x;
	width:185px;
	height:14px;
	cursor: pointer;
}

div.jp-audio div.jp-type-playlist div.jp-volume-bar {
	top:52px;
	left:228px;
}
div.jp-video div.jp-volume-bar {
	top:36px;
}
div.jp-video-270p div.jp-type-single div.jp-volume-bar {
	left:332px;
}
div.jp-video-270p div.jp-type-playlist div.jp-volume-bar {
	left:391px;
}
div.jp-video-360p div.jp-type-single div.jp-volume-bar {
	left:412px;
}
div.jp-video-360p div.jp-type-playlist div.jp-volume-bar {
	left:471px;
}
div.jp-volume-bar-value {
	background: url("lucky3.png") 0px -116px repeat-x;
	width:0px;
	height:13px;
}

/* THIS IS HIDDEN AND NOT USED!!!! */
div.jp-current-time,
div.jp-duration {position: relative;color:#06AC00;float:left;font-family: Verdana,Arial,sans-serif;font-size: .7em; display:none;}
div.jp-duration {text-align: right;}
div.jp-duration {top:18px;left:322px;width:40px;}
div.jp-current-time {top:18px;left:255px;width:40px;}

/* Instead, we are using this ;) */
/* MOVE TIME AND DURATION OUTSIDE JPLAYER INTERFACE */
	div#current-time,
	div#duration {
		position: relative;
		margin-top:0px;
		color:#06AC00;
		font-family: Verdana,Arial,sans-serif; 
		text-shadow: 1px -1px 1px #FFF;
		font-size: .8em; 
		font-weight:bold;
	}
	
	div#duration {
		text-align: right;
		top:4px;
		float:right;
		right:20px;
		width:40px;
	}
	
	div#current-time {
		top:4px;
		float:left;
		left:14px;
		width:40px;
	}
	
/* MOVE TIME AND DURATION OUTSIDE JPLAYER INTERFACE */

div.jp-video div.jp-current-time,
div.jp-video div.jp-duration {
	top:10px;
	left:0px;
	width:98%;
	padding:0 1%;
}
div.jp-playlist {
	/* width:418px; */
	width:407px;
	margin:0px 0px 0px 6px;
	background-color:#fff;
	border:2px solid #CCC;
	border-top:none;
	border-bottom:none;
}
div.jp-playlist ul {
	list-style-type:none;
	margin:0px;
	padding: 0px;
	font-size:.65em;
}

div.jp-type-playlist div.jp-playlist li {
	padding:5px 0 4px 5px;
	border-bottom:1px groove #FFF;
}

/* playlist list ul theme */
ul.playList li:nth-child(2n) {background: #e8e8e8;}

div.jp-type-playlist div.jp-playlist li.jp-playlist-last {
	padding:5px 0 5px 5px;
	border-bottom:none;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	list-style:disc inside;
	color: #F60;
	padding-left:4px;
}
div.jp-type-playlist div.jp-playlist a {
	color: #666;
	font-weight:bold;
	text-decoration: none;
}
div.jp-type-playlist div.jp-playlist a:hover {
	color:#06AC00;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
	color:#06AC00;
}
div.jp-type-playlist div.jp-playlist div.jp-free-media {
	display:inline;
	margin-left:20px;
}

div.jp-video div.jp-video-play {
	background: transparent url("jplayer.blue.monday.video.play.png") no-repeat center;
	/* position: relative; */
	position: absolute;
	cursor:pointer;
	z-index:2;
}
div.jp-video div.jp-video-play:hover {
	background: transparent url("jplayer.blue.monday.video.play.hover.png") no-repeat center;
}
div.jp-video-270p div.jp-video-play {
	top:-270px;
	width:480px;
	height:270px;
}
div.jp-video-360p div.jp-video-play {
	top:-360px;
	width:640px;
	height:360px;
}

div.jp-jplayer {
	width:0px;
	height:0px;
}
div.jp-video div.jp-jplayer {
	border:1px solid #06AC00;
	border-bottom:none;
	z-index:1;
}
div.jp-video-270p div.jp-jplayer {
	width:480px;
	height:270px;
}
div.jp-video-360p div.jp-jplayer {
	width:640px;
	height:360px;
}
div.jp-jplayer {
	
}

div.jp-audio div.jp-type-playlist a.jp-toggle-on, div.jp-audio div.jp-type-playlist a.jp-toggle-off {
	left:193px;
	top:74px;
}
a.jp-toggle-on {
	background: url("lucky3.png") -350px -0px no-repeat;
	width:75px;
	height:32px;
}
a.jp-toggle-on:hover {
	background: url("lucky3.png") -350px -31px no-repeat;
}
a.jp-toggle-off {
	background: url("lucky3.png") -350px -31px no-repeat;
	width:75px;
	height:32px;
}
a.jp-toggle-off:hover {
	background: url("lucky3.png") -350px -0px no-repeat;
}
div.jp-audio div.jp-type-playlist a.jp-shuffle {
	left:270px;
	top:73px;
}
a.jp-shuffle {
	background: url("lucky3.png") -350px -100px no-repeat;
	width:30px;
	height:30px;
}
a.jp-shuffle:hover {
	background: url("lucky3.png") -385px -100px no-repeat;
}
.active {
	background: url("lucky3.png") -385px -100px no-repeat !important;
}
.active:hover {
	background: url("lucky3.png") -350px -100px no-repeat !important;
}

.jp-directoryView {margin:0;padding:0;clear:none;}
	
ul.directoryView {display:none;margin:0;padding:0 5px 0 0px;clear:none;background:#ECECEC;}

.slide {
	margin: 0px;
	width:422px;
	margin-top: 0px;
	height:34px;
	padding: 0px;
	background: 0px -116px;
	background-image: URL("lucky3-back.png");
}

.none {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding:0;
	margin:0;
	border:none;
	background-color:transparent !important;
	clear:none;
}
.btn-slide, button {
	cursor:pointer;	
}

.pagemenu {
	margin:0;
	padding:0;
	width:400px;
	clear:none;float:left;
	position:relative;
}
.thumbtext {font-size:13px;}
/* Extra jPlayer Stuff */